/*Especifidad 002*/
main ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

/*Especifidad 003*/
main ol li {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/*Especifidad 004*/
main ol li h3 {
    font-size: 1.4rem;
    /*Color de fondo heredado de body #fff*/
    color: #333333;
}

/*Especifidad 004*/
main ol li p {
    /*Color de fondo heredado de body #fff*/
    color: #666666;
    line-height: 1.6;
}