main ol {
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

main ol li {
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
    max-width: 25rem;
}


main ol li>img {
    height: 4rem;
    width: 4rem;
    object-fit: contain;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}


main h3 {
    font-size: 1.4rem;
    margin: 0 0 1rem 0;

    display: flex;
    align-items: center;
    gap: 10px;
}

main h3 a {
    color: #333333;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.2s ease;
}

main h3:hover>*,
main h3:focus-visible>* {
    color: #095b3d;
    transform: translateY(-5px);
    cursor: pointer;
}

main h3 span {
    margin-right: .5rem;
}

/* Icono pequeño de enlace ("link.svg") */
main h3 svg {
    width: 18px;
    height: 18px;
    opacity: 0.4;
    transition: opacity 0.2s ease;
}

/* Cuando el usuario pase el ratón por la tarjeta entera, el icono de link se oscurece */
main ol li:hover h3 svg {
    opacity: 0.8;
}

/* =========================================
   DESCRIPCIÓN
   ========================================= */
main p {
    color: #666666;
    line-height: 1.6;
    margin: 0;
    flex-grow: 1;
}